.btntema{

	background: url(imgs/terror.png) no-repeat;
}

.textalign {
	text-align: center;
}

.imghover:hover{
	opacity: 0.9;
	transition: transform .8s;
	transform: scale(0.95); 
}

.post {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 4px #010101;
    margin-bottom: 20px;
    margin-top: 10px;
}
.posts {
  
}
.immg{
	border-radius: 20px;
}

.separacionbottom{
	padding-bottom: 2%;
}

.separaciontop{
	padding-top: 2%;
}
.deconstructed {
  position: relative;
  margin: auto;
  height: 0.71em;
  color: transparent;
  font-family: 'Cambay', sans-serif;
  font-size: 4vw;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.03em;
  height: 10%;

}

.deconstructed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #ffffff;
  pointer-events: none;
  text-align: center;
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 5s infinite;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  animation: deconstructed2 5s infinite;
}

.deconstructed > div:nth-child(3) {
   -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  animation: deconstructed3 5s infinite;
}

.deconstructed > div:nth-child(4) {
   -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 5s infinite;
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}

.fulll{
  width: 100%;
  height: 400px;

}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

.separaciontop2{
  margin-top: 15%;
}

.marrite{
  padding-right: 10%;
}
/* tabla de post*/
td,tr,th {
  font-size: 1.125em;

}
/*

th, tr:nth-child(even) {
  background-color: #dddddd;
}

.center{
  text-align: center;
}/*

/* CAJETILLA DE PUBLICACIONES */

a{
  color: #ffffff;
}

.petiso{
  font-size: 0.87em;
}
.asunto{
  text-align: center;
  font-weight: bold;
  font-size: 1.75em;
}

.bordeer{
  border: 1px solid white;
  color: black;
}
textarea {
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 1.25em;
  resize: none;
}

.reply{
  background-color: #727272;
  border: 3px solid white;

}

/* caja*/
.creacion{
    font-color:black;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px #010101;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1.25em;
}